<!DOCTYPE html>
<html>
    <head>
        <title>Cylis' Personal Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Cylis' Personal Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Scrcpy: The best Mirroring Utility for your Android Phone</a></h2>
            <p></p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">openSUSE Tumbleweed</a></h2>
            <p></p>
        </article>
    </body>
</html>
